.*.swp
/Makefile
/Makefile.old
/blib
pm_to_blib
/MANIFEST.bak
/laboratory
/MYMETA.json
/MYMETA.yml
debian/files
debian/libmsgconvert-perl.debhelper.log
debian/libmsgconvert-perl.substvars
debian/libmsgconvert-perl/
